<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-success">
	  <a class="navbar-brand" href="/urls">TinyApp</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
		aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-item nav-link" href="/urls">My URLs</a>
		  <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
		</div>
	  </div>
	  <div class="collapse navbar-collapse justify-content-end">
        <% if (!user || !user.email) { %>
        <div class="bg-transparent text-light border-0 input-group-text"><span>Please <a href="/login">Login</a> or <a href="/register">Register</a></span></div>
        <% } else { %>
        <form method="POST" action="/logout">
          <div class="d-inline-flex">
            <span class="input-group-text"><small>Logged in as <b><%= user.email %></b></small></span>
            <button type="submit" id="logout" class="btn btn-primary">Logout</button>
          </div>
        </form>
        <% } %>
    </div>
	</nav>
  </header>